.container {
    max-width: 800px;
    margin: 24px auto;
    padding: 36px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 12px rgba(0,128,0,0.5);
}

.section {
    margin-bottom: 24px;
}

.coords {
    width: 100%;
}
